@model n01519708_assignment3_w2022.Models.Teacher
@{
    ViewBag.Title = "Show";
}
<style>
    #navlinks li {
        display: inline;
        margin-right: 20px;
    }
    #navlinks {
        padding:0;
    }
</style>
<nav>
    <ul id="navlinks" style="list-style:none; display:inline;">
        <li><a href="/Teacher/List">Back to Teacher's List</a></li>
        <li><a href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a></li>
        <li><a href="/Teacher/Update/@Model.TeacherId">Update</a></li>
        <li><a href="/Teacher/AjaxUpdate/@Model.TeacherId">Update by Ajax</a></li>
    </ul>
    <div>
        
    </div>
    <div>
        
    </div>
    <div>
        
    </div>
    <div>
        
    </div>
</nav>

<div id="teacherDetails" class="teacherDetails">
    <div id="teacherName">
        <h2>@Model.FirstName @Model.LastName</h2>
        <hr />
    </div>
    
    <p>Employee Number: <strong>@Model.EmployeeNumber</strong></p>
    <p>Hire Date: <strong>@Model.HireDate.ToShortDateString()</strong></p>
    <p>Salary: <strong>@Model.Salary</strong></p>

    <div id="classDetails">
        <div id="classTitle" >Class Details</div>
        <div id="classContent">
            @if (Model.Subject != null)
            {
                <h3>@Model.Subject.ClassName</h3>
                <p>Class Code: <strong>@Model.Subject.ClassCode</strong></p>
                <p>Start Date: <strong>@Model.Subject.StartDate.ToShortDateString()</strong></p>
                <p>Finish Date: <strong>@Model.Subject.FinishDate.ToShortDateString()</strong></p>
            } 
            else
            {
                <p>Class details not Available!</p>
            }

        </div>
    </div>
</div>



